Repository damianagape/gorun: changes, and which Bitbucket steps are due for each by the changed paths.
All: test apps-chart-http-server, test apps-tfmod-test, test core-image-devcontainer, test core-image-go1-rte, test core-image-go1-sdk, test core-image-java21-rte, test core-image-java21-sdk, test core-image-node24-rte, test core-image-node24-sdk, test core-chart-clickhouse, test core-chart-configs, test core-chart-postgres, test core-tfmod-main, test core-tfmod-prod, test core-tfmod-test, test core-tfsub-gcp-docker-images-registry, test core-tfsub-gcp-helm-charts-registry, test core-tfsub-gcp-project, test core-tfsub-gcp-terraform-modules-registry, test core-tfsub-gcp-terraform-state-bucket, test core-tfsub-gke-platform, test core-tfsub-gke-service-account, test core-tfsub-k8s-gateway-domain-redirect, test core-tfsub-k8s-gateway-http-route, test core-tfsub-k8s-vault, test core-tfsub-k8s-workspace, test demo-image-kuard, test demo-chart-stateful-kuard, test demo-chart-stateless-kuard, test demo-tfmod-kuard, test demo-tfsub-helm-manifest, test demo-tfsub-helm-template, test demo-tfsub-kuard, test o11y-image-grafana, test o11y-chart-grafana, test o11y-chart-otelcol, test o11y-tfmod-test, test o11y-tfsub-gcp-availability-monitor, test o11y-tfsub-gke-observability-stack, plan apps-tfmod-test, plan core-tfmod-main, plan core-tfmod-prod, plan core-tfmod-test, plan demo-tfmod-kuard, plan o11y-tfmod-test, publish apps-chart-http-server, publish core-image-devcontainer, publish core-image-go1-rte, publish core-image-go1-sdk, publish core-image-java21-rte, publish core-image-java21-sdk, publish core-image-node24-rte, publish core-image-node24-sdk, publish core-chart-clickhouse, publish core-chart-configs, publish core-chart-postgres, publish core-tfsub-gcp-docker-images-registry, publish core-tfsub-gcp-helm-charts-registry, publish core-tfsub-gcp-project, publish core-tfsub-gcp-terraform-modules-registry, publish core-tfsub-gcp-terraform-state-bucket, publish core-tfsub-gke-platform, publish core-tfsub-gke-service-account, publish core-tfsub-k8s-gateway-domain-redirect, publish core-tfsub-k8s-gateway-http-route, publish core-tfsub-k8s-vault, publish core-tfsub-k8s-workspace, publish demo-image-kuard, publish demo-chart-stateful-kuard, publish demo-chart-stateless-kuard, publish demo-tfsub-helm-manifest, publish demo-tfsub-helm-template, publish demo-tfsub-kuard, publish o11y-image-grafana, publish o11y-chart-grafana, publish o11y-chart-otelcol, publish o11y-tfsub-gcp-availability-monitor, publish o11y-tfsub-gke-observability-stack, apply apps-tfmod-test, apply core-tfmod-main, apply core-tfmod-prod, apply core-tfmod-test, apply demo-tfmod-kuard, apply o11y-tfmod-test

test apps-chart-http-server:
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test apps-tfmod-test:
  caches:
  - apps-tfmod-test-0
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-image-devcontainer:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-image-go1-rte:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-image-go1-sdk:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-image-java21-rte:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-image-java21-sdk:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-image-node24-rte:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-tfsub-gcp-project:
  caches:
  - core-tfsub-gcp-project-0
  - core-tfsub-gcp-project-1
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

chore: update projects/core/terraform-submodules/gke-platform/CHANGELOG.md header (v0.7.102) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

http-server chart
  projects/apps/helm-charts/http-server/Chart.lock
  projects/apps/helm-charts/http-server/values.yaml
Due: test apps-chart-http-server, publish apps-chart-http-server

chore: update projects/apps/helm-charts/http-server/CHANGELOG.md header (v0.7.100) [skip ci] [ci skip]
  projects/apps/helm-charts/http-server/CHANGELOG.md
Due: test apps-chart-http-server, publish apps-chart-http-server

mod
  docs/11-automation.md
  projects/apps/terraform-modules/test/main.tf
Due: test apps-tfmod-test, plan apps-tfmod-test, apply apps-tfmod-test

refresh
  projects/apps/terraform-modules/test/README.md
  projects/core/terraform-modules/test/README.md
Due: test apps-tfmod-test, test core-tfmod-test, plan apps-tfmod-test, plan core-tfmod-test, apply apps-tfmod-test, apply core-tfmod-test

refresh
  projects/apps/helm-charts/http-server/templates/deploy.yaml
  projects/apps/helm-charts/http-server/templates/svc.yaml
  projects/apps/helm-charts/http-server/values.yaml
Due: test apps-chart-http-server, publish apps-chart-http-server

gomod refresh
  .devcontainer/devcontainer.json
  .devcontainer/docker-desktop-kubeconfig
  .github/workflows/workflow.apps-chart-http-server.gotmpl.yaml
  .github/workflows/workflow.apps-tfmod-test.gotmpl.yaml
  .gitlab-ci.yml
  bitbucket-pipelines.yml
  docs/11-automation.md
  projects/apps/helm-charts/http-server/.project.yaml
  projects/apps/helm-charts/http-server/CHANGELOG.md
  projects/apps/helm-charts/http-server/Chart.lock
  projects/apps/helm-charts/http-server/Chart.yaml
  projects/apps/helm-charts/http-server/README.md
  projects/apps/helm-charts/http-server/templates/_helpers.tpl
  projects/apps/helm-charts/http-server/templates/deploy.yaml
  projects/apps/helm-charts/http-server/templates/hpa.yaml
  projects/apps/helm-charts/http-server/templates/pdb.yaml
  projects/apps/helm-charts/http-server/templates/sa.yaml
  projects/apps/helm-charts/http-server/templates/svc.yaml
  projects/apps/helm-charts/http-server/values.yaml
  projects/apps/terraform-modules/test/.project.yaml
  projects/apps/terraform-modules/test/.terraform.lock.hcl
  projects/apps/terraform-modules/test/README.md
  projects/apps/terraform-modules/test/main.tf
  projects/apps/terraform-modules/test/providers.tf
  projects/apps/terraform-modules/test/terraform.tf
  projects/core/terraform-modules/main/main.tf
  projects/core/terraform-modules/test/README.md
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/role.workspace_developer.tf
Due: test apps-chart-http-server, test apps-tfmod-test, test core-tfmod-main, test core-tfmod-test, test core-tfsub-gke-platform, plan apps-tfmod-test, plan core-tfmod-main, plan core-tfmod-test, publish apps-chart-http-server, publish core-tfsub-gke-platform, apply apps-tfmod-test, apply core-tfmod-main, apply core-tfmod-test

refactor
  .github/workflows/workflow.demo-tfsub-helm-manifest.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-template.gotmpl.yaml
  .gitlab-ci.yml
  bitbucket-pipelines.yml
  projects/apps/helm-charts/http-server/templates/svc.yaml
  projects/apps/terraform-modules/test/main.tf
  projects/core/helm-charts/clickhouse/templates/svc.yaml
  projects/core/helm-charts/postgres/templates/svc.yaml
  projects/core/terraform-submodules/k8s-gateway-http-route/variables.tf
  projects/demo/helm-charts/stateful-kuard/templates/http-server.sts.yaml
  projects/demo/helm-charts/stateful-kuard/templates/http-server.svc.yaml
  projects/demo/helm-charts/stateless-kuard/templates/http-server.svc.yaml
  projects/demo/terraform-modules/kuard/README.md
  projects/demo/terraform-submodules/helm-manifest/.project.yaml
  projects/demo/terraform-submodules/helm-manifest/CHANGELOG.md
  projects/demo/terraform-submodules/helm-manifest/README.md
  projects/demo/terraform-submodules/helm-manifest/locals.tf
  projects/demo/terraform-submodules/helm-manifest/main.tf
  projects/demo/terraform-submodules/helm-manifest/manifest/Chart.yaml
  projects/demo/terraform-submodules/helm-manifest/manifest/templates/manifest.yaml
  projects/demo/terraform-submodules/helm-manifest/manifest/values.yaml
  projects/demo/terraform-submodules/helm-manifest/terraform.tf
  projects/demo/terraform-submodules/helm-manifest/variables.tf
  projects/demo/terraform-submodules/helm-template/.project.yaml
  projects/demo/terraform-submodules/helm-template/CHANGELOG.md
  projects/demo/terraform-submodules/helm-template/README.md
  projects/demo/terraform-submodules/helm-template/main.tf
  projects/demo/terraform-submodules/helm-template/terraform.tf
  projects/demo/terraform-submodules/helm-template/variables.tf
  projects/demo/terraform-submodules/kuard/main.tf
  projects/o11y/helm-charts/grafana/templates/svc.yaml
Due: test apps-chart-http-server, test apps-tfmod-test, test core-chart-clickhouse, test core-chart-postgres, test core-tfsub-k8s-gateway-http-route, test demo-chart-stateful-kuard, test demo-chart-stateless-kuard, test demo-tfmod-kuard, test demo-tfsub-helm-manifest, test demo-tfsub-helm-template, test demo-tfsub-kuard, test o11y-chart-grafana, plan apps-tfmod-test, plan demo-tfmod-kuard, publish apps-chart-http-server, publish core-chart-clickhouse, publish core-chart-postgres, publish core-tfsub-k8s-gateway-http-route, publish demo-chart-stateful-kuard, publish demo-chart-stateless-kuard, publish demo-tfsub-helm-manifest, publish demo-tfsub-helm-template, publish demo-tfsub-kuard, publish o11y-chart-grafana, apply apps-tfmod-test, apply demo-tfmod-kuard

refactor
  projects/apps/helm-charts/http-server/Chart.yaml
  projects/apps/terraform-modules/test/.project.yaml
  projects/core/helm-charts/clickhouse/Chart.yaml
  projects/core/helm-charts/postgres/Chart.yaml
  projects/core/terraform-modules/main/.project.yaml
  projects/core/terraform-modules/prod/.project.yaml
  projects/core/terraform-modules/test/.project.yaml
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/k8s-gateway-http-route/.project.yaml
  projects/demo/helm-charts/stateful-kuard/Chart.yaml
  projects/demo/helm-charts/stateless-kuard/Chart.yaml
  projects/demo/terraform-submodules/kuard/.project.yaml
  projects/demo/terraform-submodules/kuard/main.tf
  projects/o11y/helm-charts/grafana/Chart.yaml
  projects/o11y/terraform-submodules/gke-observability-stack/.project.yaml
  projects/o11y/terraform-submodules/gke-observability-stack/main.tf
Due: test apps-chart-http-server, test apps-tfmod-test, test core-chart-clickhouse, test core-chart-postgres, test core-tfmod-main, test core-tfmod-prod, test core-tfmod-test, test core-tfsub-gke-platform, test core-tfsub-k8s-gateway-http-route, test demo-chart-stateful-kuard, test demo-chart-stateless-kuard, test demo-tfsub-kuard, test o11y-chart-grafana, test o11y-tfsub-gke-observability-stack, plan apps-tfmod-test, plan core-tfmod-main, plan core-tfmod-prod, plan core-tfmod-test, publish apps-chart-http-server, publish core-chart-clickhouse, publish core-chart-postgres, publish core-tfsub-gke-platform, publish core-tfsub-k8s-gateway-http-route, publish demo-chart-stateful-kuard, publish demo-chart-stateless-kuard, publish demo-tfsub-kuard, publish o11y-chart-grafana, publish o11y-tfsub-gke-observability-stack, apply apps-tfmod-test, apply core-tfmod-main, apply core-tfmod-prod, apply core-tfmod-test

chore: update projects/core/terraform-submodules/k8s-gateway-http-route/CHANGELOG.md header (v0.7.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-gateway-http-route/CHANGELOG.md
Due: test core-tfsub-k8s-gateway-http-route, publish core-tfsub-k8s-gateway-http-route

chore: update projects/apps/helm-charts/http-server/CHANGELOG.md header (v0.7.101) [skip ci] [ci skip]
  projects/apps/helm-charts/http-server/CHANGELOG.md
Due: test apps-chart-http-server, publish apps-chart-http-server

chore: update projects/core/helm-charts/postgres/CHANGELOG.md header (v0.7.101) [skip ci] [ci skip]
  projects/core/helm-charts/postgres/CHANGELOG.md
Due: test core-chart-postgres, publish core-chart-postgres

chore: update projects/o11y/helm-charts/grafana/CHANGELOG.md header (v0.7.103) [skip ci] [ci skip]
  projects/o11y/helm-charts/grafana/CHANGELOG.md
Due: test o11y-chart-grafana, publish o11y-chart-grafana

chore: update projects/demo/helm-charts/stateless-kuard/CHANGELOG.md header (v0.7.102) [skip ci] [ci skip]
  projects/demo/helm-charts/stateless-kuard/CHANGELOG.md
Due: test demo-chart-stateless-kuard, publish demo-chart-stateless-kuard

chore: update projects/demo/terraform-submodules/kuard/CHANGELOG.md header (v0.7.102) [skip ci] [ci skip]
  projects/demo/terraform-submodules/kuard/CHANGELOG.md
Due: test demo-tfsub-kuard, publish demo-tfsub-kuard

chore: update projects/core/terraform-submodules/gke-platform/CHANGELOG.md header (v0.7.103) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

chore: update projects/demo/helm-charts/stateful-kuard/CHANGELOG.md header (v0.7.102) [skip ci] [ci skip]
  projects/demo/helm-charts/stateful-kuard/CHANGELOG.md
Due: test demo-chart-stateful-kuard, publish demo-chart-stateful-kuard

chore: update projects/core/helm-charts/clickhouse/CHANGELOG.md header (v0.7.101) [skip ci] [ci skip]
  projects/core/helm-charts/clickhouse/CHANGELOG.md
Due: test core-chart-clickhouse, publish core-chart-clickhouse

chore: update projects/o11y/terraform-submodules/gke-observability-stack/CHANGELOG.md header (v0.7.102) [skip ci] [ci skip]
  projects/o11y/terraform-submodules/gke-observability-stack/CHANGELOG.md
Due: test o11y-tfsub-gke-observability-stack, publish o11y-tfsub-gke-observability-stack

refactor
  projects/core/helm-charts/clickhouse/values.yaml
  projects/o11y/helm-charts/otelcol/README.md
  projects/o11y/terraform-submodules/gke-observability-stack/assets/clickhouse.yaml.tftpl
Due: test core-chart-clickhouse, test o11y-chart-otelcol, test o11y-tfsub-gke-observability-stack, publish core-chart-clickhouse, publish o11y-chart-otelcol, publish o11y-tfsub-gke-observability-stack

bump
  projects/apps/helm-charts/http-server/Chart.lock
  projects/apps/terraform-modules/test/.project.yaml
  projects/apps/terraform-modules/test/.terraform.lock.hcl
  projects/apps/terraform-modules/test/terraform.tf
  projects/core/helm-charts/clickhouse/Chart.lock
  projects/core/helm-charts/postgres/Chart.lock
  projects/core/terraform-modules/main/.project.yaml
  projects/core/terraform-modules/main/.terraform.lock.hcl
  projects/core/terraform-modules/main/terraform.tf
  projects/core/terraform-modules/prod/.project.yaml
  projects/core/terraform-modules/prod/.terraform.lock.hcl
  projects/core/terraform-modules/prod/terraform.tf
  projects/core/terraform-modules/test/.project.yaml
  projects/core/terraform-modules/test/.terraform.lock.hcl
  projects/core/terraform-modules/test/terraform.tf
  projects/core/terraform-submodules/gke-platform/terraform.tf
  projects/core/terraform-submodules/gke-service-account/terraform.tf
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/terraform.tf
  projects/core/terraform-submodules/k8s-gateway-http-route/terraform.tf
  projects/core/terraform-submodules/k8s-vault/terraform.tf
  projects/core/terraform-submodules/k8s-workspace/terraform.tf
  projects/demo/helm-charts/stateful-kuard/Chart.lock
  projects/demo/helm-charts/stateless-kuard/Chart.lock
  projects/demo/terraform-modules/kuard/.terraform.lock.hcl
  projects/demo/terraform-modules/kuard/terraform.tf
  projects/demo/terraform-submodules/kuard/terraform.tf
  projects/o11y/helm-charts/grafana/Chart.lock
  projects/o11y/terraform-modules/test/.terraform.lock.hcl
  projects/o11y/terraform-modules/test/terraform.tf
  projects/o11y/terraform-submodules/gke-observability-stack/terraform.tf
Due: test apps-chart-http-server, test apps-tfmod-test, test core-chart-clickhouse, test core-chart-postgres, test core-tfmod-main, test core-tfmod-prod, test core-tfmod-test, test core-tfsub-gke-platform, test core-tfsub-gke-service-account, test core-tfsub-k8s-gateway-domain-redirect, test core-tfsub-k8s-gateway-http-route, test core-tfsub-k8s-vault, test core-tfsub-k8s-workspace, test demo-chart-stateful-kuard, test demo-chart-stateless-kuard, test demo-tfmod-kuard, test demo-tfsub-kuard, test o11y-chart-grafana, test o11y-tfmod-test, test o11y-tfsub-gke-observability-stack, plan apps-tfmod-test, plan core-tfmod-main, plan core-tfmod-prod, plan core-tfmod-test, plan demo-tfmod-kuard, plan o11y-tfmod-test, publish apps-chart-http-server, publish core-chart-clickhouse, publish core-chart-postgres, publish core-tfsub-gke-platform, publish core-tfsub-gke-service-account, publish core-tfsub-k8s-gateway-domain-redirect, publish core-tfsub-k8s-gateway-http-route, publish core-tfsub-k8s-vault, publish core-tfsub-k8s-workspace, publish demo-chart-stateful-kuard, publish demo-chart-stateless-kuard, publish demo-tfsub-kuard, publish o11y-chart-grafana, publish o11y-tfsub-gke-observability-stack, apply apps-tfmod-test, apply core-tfmod-main, apply core-tfmod-prod, apply core-tfmod-test, apply demo-tfmod-kuard, apply o11y-tfmod-test

init
  docs/11-automation.md
  docs/32-deployments.md
  docs/41-costs.md
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/terraform-modules/main/main.tf
  projects/core/terraform-modules/main/providers.tf
  projects/core/terraform-submodules/gcp-terraform-modules-registry/main.tf
  projects/core/terraform-submodules/gcp-terraform-modules-registry/variables.tf
Due: test core-image-devcontainer, test core-tfmod-main, test core-tfsub-gcp-terraform-modules-registry, plan core-tfmod-main, publish core-image-devcontainer, publish core-tfsub-gcp-terraform-modules-registry, apply core-tfmod-main

cloud build
  projects/cicd/terraform-modules/main/.project.yaml
  projects/cicd/terraform-modules/main/.terraform.lock.hcl
  projects/cicd/terraform-modules/main/README.md
  projects/cicd/terraform-modules/main/locals.tf
  projects/cicd/terraform-modules/main/main.tf
  projects/cicd/terraform-modules/main/providers.tf
  projects/cicd/terraform-modules/main/terraform.tf
  projects/core/terraform-submodules/gcp-project/.project.yaml
  projects/core/terraform-submodules/gcp-project/locals.tf
Due: test core-tfsub-gcp-project, publish core-tfsub-gcp-project

cloud build connection
  projects/cicd/terraform-modules/main/.terraform.lock.hcl
  projects/cicd/terraform-modules/main/README.md
  projects/cicd/terraform-modules/main/locals.tf
  projects/cicd/terraform-modules/main/main.tf
  projects/cicd/terraform-modules/main/projects.tf
  projects/cicd/terraform-modules/main/providers.tf
  projects/cicd/terraform-modules/main/terraform.tf
  projects/cicd/terraform-modules/main/variables.tf
Due: none

cloud build connection
  projects/cicd/terraform-modules/main/README.md
Due: none

cloud build trigger
  projects/cicd/terraform-modules/main/README.md
  projects/cicd/terraform-modules/main/main.tf
  projects/cicd/terraform-modules/main/providers.tf
Due: none

cloud build trigger
  projects/cicd/terraform-modules/main/main.tf
Due: none

cloud build trigger
  projects/core/terraform-modules/main/main.tf
Due: test core-tfmod-main, plan core-tfmod-main, apply core-tfmod-main

cloud build trigger
  projects/cicd/terraform-modules/main/.project.yaml
Due: none

cloud build trigger
  docs/11-automation.md
  projects/cicd/terraform-modules/main/.project.yaml
  projects/cicd/terraform-modules/main/README.md
  projects/cicd/terraform-modules/main/main.tf
  projects/cicd/terraform-modules/main/projects.tf
Due: none

cloud build trigger ignoredfiles
  projects/cicd/terraform-modules/main/.project.yaml
  projects/cicd/terraform-modules/main/README.md
Due: none

cloud build trigger ignoredfiles
  projects/cicd/terraform-modules/main/README.md
Due: none

cloud build trigger ignoredfiles
  projects/core/docker-images/devcontainer/README.md
Due: test core-image-devcontainer, publish core-image-devcontainer

cloud build trigger ignoredfiles
  projects/cicd/terraform-modules/main/.project.yaml
  projects/core/docker-images/devcontainer/README.md
Due: test core-image-devcontainer, publish core-image-devcontainer

cloud build trigger ignoredfiles
  projects/cicd/terraform-modules/main/main.tf
Due: none

Path conditions:
  test apps-chart-http-server: any of: projects/apps/helm-charts/http-server/**
  test apps-tfmod-test: any of: projects/apps/terraform-modules/test/**
  test core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  test core-image-go1-rte: any of: projects/core/docker-images/go1-rte/**
  test core-image-go1-sdk: any of: projects/core/docker-images/go1-sdk/**
  test core-image-java21-rte: any of: projects/core/docker-images/java21-rte/**
  test core-image-java21-sdk: any of: projects/core/docker-images/java21-sdk/**
  test core-image-node24-rte: any of: projects/core/docker-images/node24-rte/**
  test core-image-node24-sdk: any of: projects/core/docker-images/node24-sdk/**
  test core-chart-clickhouse: any of: projects/core/helm-charts/clickhouse/**
  test core-chart-configs: any of: projects/core/helm-charts/configs/**
  test core-chart-postgres: any of: projects/core/helm-charts/postgres/**
  test core-tfmod-main: any of: projects/core/terraform-modules/main/**
  test core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  test core-tfmod-test: any of: projects/core/terraform-modules/test/**
  test core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  test core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  test core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  test core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  test core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  test core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  test core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  test core-tfsub-k8s-gateway-domain-redirect: any of: projects/core/terraform-submodules/k8s-gateway-domain-redirect/**
  test core-tfsub-k8s-gateway-http-route: any of: projects/core/terraform-submodules/k8s-gateway-http-route/**
  test core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  test core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  test demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  test demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  test demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  test demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  test demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  test demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  test demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  test o11y-image-grafana: any of: projects/o11y/docker-images/grafana/**
  test o11y-chart-grafana: any of: projects/o11y/helm-charts/grafana/**
  test o11y-chart-otelcol: any of: projects/o11y/helm-charts/otelcol/**
  test o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  test o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  test o11y-tfsub-gke-observability-stack: any of: projects/o11y/terraform-submodules/gke-observability-stack/**
  plan apps-tfmod-test: any of: projects/apps/terraform-modules/test/**
  plan core-tfmod-main: any of: projects/core/terraform-modules/main/**
  plan core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  plan core-tfmod-test: any of: projects/core/terraform-modules/test/**
  plan demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  plan o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  publish apps-chart-http-server: any of: projects/apps/helm-charts/http-server/**
  publish core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  publish core-image-go1-rte: any of: projects/core/docker-images/go1-rte/**
  publish core-image-go1-sdk: any of: projects/core/docker-images/go1-sdk/**
  publish core-image-java21-rte: any of: projects/core/docker-images/java21-rte/**
  publish core-image-java21-sdk: any of: projects/core/docker-images/java21-sdk/**
  publish core-image-node24-rte: any of: projects/core/docker-images/node24-rte/**
  publish core-image-node24-sdk: any of: projects/core/docker-images/node24-sdk/**
  publish core-chart-clickhouse: any of: projects/core/helm-charts/clickhouse/**
  publish core-chart-configs: any of: projects/core/helm-charts/configs/**
  publish core-chart-postgres: any of: projects/core/helm-charts/postgres/**
  publish core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  publish core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  publish core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  publish core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  publish core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  publish core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  publish core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  publish core-tfsub-k8s-gateway-domain-redirect: any of: projects/core/terraform-submodules/k8s-gateway-domain-redirect/**
  publish core-tfsub-k8s-gateway-http-route: any of: projects/core/terraform-submodules/k8s-gateway-http-route/**
  publish core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  publish core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  publish demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  publish demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  publish demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  publish demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  publish demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  publish demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  publish o11y-image-grafana: any of: projects/o11y/docker-images/grafana/**
  publish o11y-chart-grafana: any of: projects/o11y/helm-charts/grafana/**
  publish o11y-chart-otelcol: any of: projects/o11y/helm-charts/otelcol/**
  publish o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  publish o11y-tfsub-gke-observability-stack: any of: projects/o11y/terraform-submodules/gke-observability-stack/**
  apply apps-tfmod-test: any of: projects/apps/terraform-modules/test/**
  apply core-tfmod-main: any of: projects/core/terraform-modules/main/**
  apply core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  apply core-tfmod-test: any of: projects/core/terraform-modules/test/**
  apply demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  apply o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
